In [1]:
x=20

In [2]:
if x > 10 : 
  print("x>10")

x>10

In [3]:
x=20
if x>10 :
  print("x>10")
if x<10:
    print("x<10")
if x==10:
    print("x=10")

x>10

In [4]:
x=20
if x> 10:
  print("x>10")

x>10

In [5]:
x=20
if x>10:
  print("x>10")
if x<10:
  print("x<10")
if x==10:
  print("x=10")

x>10

In [6]:
x=int(input("enter your mark"))
if x>100:
  print("pass")
if x<100:
  print("fail")
if x==100:
   print ("just pass")

enter your mark5252
pass

In [7]:
x=int(input("enter your salary"))
if x>250000:
  print("you are not taxable")
if x>250000:
  print(x*10/100)
  print("you are taxable")

enter your salary114545